[submodule "pcb 1.0/MX_Alps_Hybrid.pretty"]
	path = pcb 1.0/MX_Alps_Hybrid.pretty
	url = https://github.com/ai03-2725/MX_Alps_Hybrid.pretty
[submodule "pcb 1.0/random-keyboard-parts.pretty"]
	path = pcb 1.0/random-keyboard-parts.pretty
	url = https://github.com/ai03-2725/random-keyboard-parts.pretty
